@page
@model Web1.Pages.ApiModel
@{
}

<h2>Access Token</h2>
<p>@Model.AccessToken</p>

<h2>Api1</h2>
<p>Status Code: @Model.Api1Status</p>
<p>Result: @Model.Api1Result</p>

<h2>Api3</h2>
<p>Status Code: @Model.Api3Status</p>